.cart-container{
    width: 95vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    padding-top: 15vh;
    padding-left: 10px;
}
.cart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
}
.cart-heading{
    font-size: 28px;
}
li{
    list-style: none;
}


@media (max-width: 576px) {
    .cart-container{
        width: 100vw;
        height: 60vh;
    }.cart-heading{
        font-size: 22px;
    }
}