.cart-container{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
}
.cart-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
li{
    list-style: none;
}