.filters-div{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio-div{
    padding: 10px;
    width: 190px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #f4efef;
}
select{
    padding-right: 10px;
    width: 220px;
    border-radius: 20px;
    height: 40px;
    padding: 5px;
}
select option:hover{
    background-color: blue;
    color: #ffff;
}
.search-bar{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #bfbfbf;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}
.input{
    border: none;
    color: #000000;
}
.input:focus {
  outline: none;
}
.search-btn{
    background-color: transparent;
    border: none;
}

@media (max-width : 768px) {
    .search-bar{
        width: 180px;
        height: 35px;
        justify-content: start;
        padding: 5px;

    }.input{
        width: 140px;
        height: 25px;
    }select{
        width: 180px;
        height: 35px;
    }
}

@media (max-width :576px) {
    .filters-div{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }.radio-div{
        width: 80%;
        text-align: left;
    }.search-bar{
        justify-content: start;
    }h2{
        font-size: 22px;
    }
}