.filters-div{
    width: 20vw;
}
.radio-div{
    padding: 10px;
    width: 190px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #f4efef;
}
select{
    width: 200px;
    border-radius: 10px;
    height: 30px;
}

@media (max-width :576px) {
    .filters-div{
        width: 100vw;
        text-align: center;
    }.radio-div{
        width: 80%;
        text-align: left;
    }
}