.home-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 95vw;
    padding: 5px;
}
.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: rgb(21, 21, 61);
}
.load-more-btn{
    background: rgb(237, 125, 32);
    border-radius: 20px;
    color: #ffff;
    text-align: center;
    width: 120px;
    height: 40px;
    border: none;
    margin: 10px;
}
.productlist-div{
    display: flex;
    justify-content: start;
    align-items: start;
}
.text-center{
    text-align: center;
}
.para{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5b5656;
    font-size: 18px;;
    margin: 10px;
}
.text{
    text-align: center;
}
ul{
    padding: 0px;
    margin: 0px;
}
.failure-view{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.failure-view-img{
    width: 500px;
    margin: 20px;
}.tryagain-btn{
    color: #ffff;
    border: none;
    height: 30px;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    background: rgb(93, 93, 229);
}
.profile-loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width : 768px) {
    .heading{
        font-size: 28px;
    }.para{
        font-size: 16px;
    }
}

*ul{
    padding: 0px;
    margin: 0px;
}

@media (max-width : 576px) {
    .productlist-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }.home-div{
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
}