.home-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 90vw;
    padding: 10px;
}
.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: rgb(21, 21, 61);
}
.load-more-btn{
    background: rgb(237, 125, 32);
    border-radius: 20px;
    color: #ffff;
    text-align: center;
    width: 120px;
    height: 40px;
    border: none;
    margin: 10px;
}
.productlist-div{
    display: flex;
    justify-content: start;
    align-items: start;
}
.text-center{
    text-align: center;
}
.para{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5b5656;
    font-size: 18px;;
    margin: 10px;
}
.text{
    
    text-align: center;
}

@media (max-width : 576px) {
    .productlist-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }.home-div{
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}