.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    padding-left: 50px;
    padding-right: 50px;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}
.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
}
.cart-count{
    color: #ffffff;
    background-color: red;
    height: 15px;
    width: 12px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
}
h3{
    font-size: 22px;
}

@media (max-width : 768px) {
    .header-div{
        width: 90vw;
    }
}

@media (max-width: 576px) {
    .nav-items{
        width: 100px;
        
    }h3{
        font-size: 14px;
    }.header-div{
        padding-left: 20px;
        padding-right: 20px;
    }
}