.footer-div{
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: #000000;
    color: #ffff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.footer-card{
    width: 200px;
    margin: 10px;
    text-align: left;
}
.social-media{
    margin: 10px;
    background-color: #ffff;
    font-size: 12px;
    padding: 5px;
    border-radius: 20px;
}
.insta-div{
    border: 2px solid #ffff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.connect-div{
    margin: 10px;
    width: 100px;
}

@media (max-width: 576px) {
    .footer-div{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }.footer-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
       margin: 10px;
    }
}