.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-div{
    border: none;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 16px 0px #b6ccf0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.login-input{
    width: 240px;
    margin-top: 5px;
    background-color: #e0eafa;
    border-radius: 5px;
    border: none;
    height: 32px;
}
.login-button{
    background-color: rgb(77, 77, 231);
    border: none;
    border-radius: 5px;
    color: #e9f0f6;
    height: 32px;
    width: 100px;
    margin: 15px;
}
.store-name-log{
    font-size: 24px;
    font-family:cursive;
    color: rgb(240, 108, 59);
}
.error-msg{
    color: red;   
}

@media (max-width : 576px) {
    .login-div{
        width: 300px;
        height: 330px;
    }.login-input{
        width: 220px;
        height: 30px;
    }.login-button{
        width: 80px;
        height: 28px;
    }.store-name-log{
        font-size: 19px;
        font-family:cursive;
    color: rgb(240, 108, 59);
    }
}